[2019-05-27 04:02] morgo opened #35 "CONTRIBUTING.md is out of date"
The `contributing.md` file here mentions Go 1.9 and links to Go 1.8 as well.  The current requirement is Go 1.12 though.  It also has out of date advice about dependency management.

I think it makes sense to change the `contributing.md` in pingcap/tidb to be very short with just a link to this location, so there is only one copy that needs to be maintained.

This should help keep it more up-to-da

[2019-10-05 12:44] winkyao opened #50 "Auto-tune RocksDB"
(This is an example issue of TiDB Performance Challenge Program. Please don't open/assign this issue)

* Description: TiKV heavily depends on RocksDB, but RocksDB has many configurations and it is hard to choose proper values in production. The goal for this section is to auto-tune RocksDB in real-time for different workloads.
* Recommended Skills: Rust, RocksDB
* Mentor(s): Yi Wu (@yiwu-arbug)
*

[2019-10-05 12:50] siddontang commented on #50
I think @pentium3 has been doing this.

[2019-10-05 13:41] #50 closed

[2019-11-13 13:20] zz-jason commented on #35
in the latest `contributing.md` file we have updated the requirement on `go` to 1.13, which is what we used in the current build system. I think this issue is stale.

[2019-11-13 13:20] #35 closed

[2019-11-13 14:33] shenli opened #75 "Need code style guides for golang and rust"
We need something like https://github.com/uber-go/guide/blob/master/style.md
So the community could follow the guide to produce unique style and high-quality code.

[2019-11-13 15:05] gregwebs commented on #75
I suggest focusing first on having consistent automated linting tooling everywhere (we are using the revive linter in some go projects now, but not necessarily consistently). A guide is very good for those consistently involved in the project but new open source contributor shouldn't have to read through a guide, and code reviewers should spend more time finding bugs rather than correcting things

[2019-11-13 16:03] Hoverbear commented on #75
@nrc and @breeswish are working on this for TiKV right now. :)

[2019-11-13 17:30] shenli commented on #75
@gregwebs Yes, unified linting tool is necessary. But as a large project, TiDB needs a code guide. For example, contributors should follow the same way to format error messages.
We have plan to gain more active contributors. The guides would be helpful for them.

[2019-11-13 17:57] gregwebs commented on #75
I agree that a guide is also good. I am just trying to share my opinion that as a new contributor an automated linter that runs on pull requests that I can also easily run locally is more valuable to me.

[2019-11-13 23:04] nrc commented on #75
The guide is being developed at https://github.com/nrc/pingcap-style-guide The first draft is almost complete and I will move into the TiKV or PingCAP org soon

[2019-11-14 15:35] Hoverbear commented on #75
Posted on https://pingcap.github.io/style-guide/rust/ now

[2019-11-15 09:22] lonng opened #81 "Incubating Program: TiDB built-in SQL Diagnostics"
## Incubating Program

TiDB built-in SQL Diagnostics

### Describe the feature or project you want to incubate:

#### Summary

Currently, TiDB diagnostic information acquisition relies mainly on external tools (perf/iosnoop/iotop/iostat/vmstat/sar/...), monitoring systems (Prometheus/Grafana), log files, HTTP APIs, and system tables provided by TiDB. The decentralized toolchains and cumbersome acq

[2019-11-17 08:54] lucklove opened #83 "Incubating Program: TiDB with WebAssembly"
## Incubating Program

TiDB with WebAssembly

### Describe the feature or project you want to incubate:

#### Summary

TiDB has a community, as does WebAssembly. As WebAssembly technology matures, more and more applications will be running in browsers, and users no longer have to endure cumbersome downloads and installation processes, which greatly reduces the cost of promoting these applications.

[2019-11-18 02:47] winkyao commented on #81
LGTM, I suggest that when the proposal is merged, this feature can be promoted to an incubating feature.

[2019-11-18 03:14] crazycs520 commented on #81
LGTM 👍

[2019-11-19 10:30] siddontang commented on #81
LGTM

[2019-11-19 13:21] zz-jason commented on #75
Referencing [pingcap/style-guide](https://github.com/pingcap/style-guide) in the [Coding Style](https://github.com/pingcap/community/pull/79/files#diff-d617de87ae2c94db07a7803ede328e4aR101-R104) part of `how to contribute`.

[2019-11-20 07:38] hicqu opened #86 "Incubating Program: Follower Read With Applied Index"
## Follower Read With Applied Index

### Describe the feature or project you want to incubate:

#### Summary

This RFC proposes a improvement about getting snapshot on followers, which is
if the read request carries an applied index, the peer can get snapshot locally
wihtout any commucation with its leader, if only it has applied to the given
index. It's useful to reduce latency if the cluster is

[2019-11-21 03:16] andylokandy opened #88 "Incubating Program: KeyVisualizer: The visualized hotspot profiler"
## Incubating Program

KeyVisualizer: The visualized hotspot profiler

### Describe the feature or project you want to incubate:

#### Summary

Add an enabled-by-default `KeyVisualizer` component to `PD`, providing a visual webpage to show key heatmap of the `TiKV` cluster, which is useful for troubleshooting and reasoning inefficient application usage patterns. `KeyVisualizer` is accessible in-br

[2019-11-21 06:36] rleungx opened #89 "Incubating Program: Dynamic Configuration Change"
## Incubating Program

Dynamic Configuration Change

### Describe the feature or project you want to incubate:

#### Summary

This proposal proposes a unified way to manage the configuration options of TiDB, TiKV, and PD by storing them in PD and support dynamically change the configuration options by using the same way among the different components which can greatly improve usability.

#### Moti

[2019-11-21 15:46] winkyao commented on #83
LGTM

[2019-11-22 05:56] winkyao commented on #88
LGTM

[2019-11-22 05:56] winkyao commented on #89
LGTM

[2019-11-22 05:56] winkyao commented on #86
LGTM

[2019-11-22 06:55] siddontang commented on #88
LGTM

[2019-11-24 02:58] qiuyesuifeng commented on #81
LGTM

[2019-11-24 02:58] qiuyesuifeng commented on #83
LGTM

[2019-11-24 02:58] qiuyesuifeng commented on #86
LGTM

[2019-11-24 02:58] qiuyesuifeng commented on #88
LGTM

[2019-11-24 02:59] qiuyesuifeng commented on #89
LGTM

[2019-11-24 03:41] zz-jason commented on #89
the proposal still have comments to address, PTAL @rleungx

[2019-11-24 03:41] zz-jason commented on #86
LGTM

[2019-11-24 03:44] zz-jason commented on #83
LGTM

[2019-11-28 09:38] sykp241095 opened #106 "Incubating Program: Migrate Discourse's database from PostgreSQL to TiDB"
## Incubating Program

Migrate Discourse's database from PostgreSQL to TiDB

### Describe the feature or project you want to incubate:

#### Summary

Migrate Discourse's database from PostgreSQL to MySQL first, then migrate from MySQL to TiDB.

#### Motivation

As https://asktug.com is running on [Discourse](https://github.com/discourse/discourse), and Discourse is running on PostgreSQL, we want t

[2019-11-28 09:50] winkyao commented on #106
@sykp241095 Could you please write an RFC or Proposal for your project.

[2019-11-30 03:31] zhouqiang-cl opened #112 "Incubating Program: Official recommended topologies and configurations to use TiDB"
## Incubating Program

Official recommended topologies and configurations to use TiDB

## Describe the feature or project you want to incubate:
### Summary
Give structure, type, and configuration, determine the benchmark value corresponding to TiDB, and give some configuration suggestions for TiDB

### Motivation
When users need to use TiDB as their database, they often face what machine configura

[2019-11-30 08:32] winkyao commented on #112
@zhouqiang-cl  Could you please post your RFC in the https://github.com/pingcap/community/tree/master/rfc

[2019-11-30 09:25] winkyao commented on #106
LGTM

[2019-11-30 11:24] zhouqiang-cl commented on #112
rfc is here https://github.com/pingcap/community/pull/111
@winkyao  thank you

[2019-12-03 07:32] qiuyesuifeng commented on #106
LGTM

[2019-12-05 06:33] wolfstudy opened #117 "Incubating Program: Add Apache Pulsar to tidb-binlog"
## Incubating Program

Add Apache Pulsar to `tidb-binlog`.

## Describe the feature or project you want to incubate:

### Summary

`tidb-binlog` is a very nice and efficient Change Data Capture(CDC) tool, introducing a new component [**Apache Pulsar**](https://github.com/apache/pulsar) to further improve the processing power of `tidb-binlog`.

### Motivation

During the Change Data Capture(CDC), w

[2019-12-06 14:56] kennytm opened #122 "PingCAP Special Week 2019 Q4: Dumpling / Mydumper replacement for DM integration and Lightning performance"
# Dumpling / Mydumper replacement for DM integration and Lightning performance

Full RFC at #123.

## Abstract

We propose introduce a library to replace Mydumper, code named **Dumpling**, optimized for TiDB Lightning and to be usable as a library/plugin inside DM and TiDB, as well as be an independent program.

## Problem statement

Mydumper is a third-party tool to dump MySQL databases into loca

[2019-12-07 05:11] DQinYuan opened #124 "Incubating Program: fuzz and auto debug"
## Incubating Program

General fuzz and auto debug tool.

## Describe the feature or project you want to incubate:
### Summary

A tool supports SQLFuzz and General Fuzz by mutation, then detects suspicious code block leading to bugs in fuzz automatically by monitoring code execution path of application.

### Motivation

There is a lot of uncertainty in Chaos and fuzz test of complicated software l

[2019-12-07 10:14] siddontang commented on #117
PTAL @GregoryIan

[2019-12-08 02:25] winkyao commented on #117
@wolfstudy Thanks for your request. Could you please write an RFC or Proposal to https://github.com/pingcap/community/tree/master/rfc, and add a link in the description of this issue?

[2019-12-09 04:03] WangXiangUSTC opened #126 "Incubating Program: make PITR production-ready"
## Introduce
github: https://github.com/lvleiice/Better-PITR

PITR is an ecosystem tool for [TiDB Binlog](https://github.com/pingcap/tidb-binlog). By preprocessing the incremental backup file of TiDB, PITR merged the changes of the same line of data to produce a new, lighter incremental backup file, which greatly reduced the Time of incremental backup Recovery and realized fast-pitr (Fast Point in

[2019-12-09 05:45] siddontang commented on #126
LGTM

[2019-12-09 10:02] JinLingChristopher opened #130 "Incubating Program: Talent Plan Courses"
# Incubating Program

Talent Plan Courses

## Describe the feature or project you want to incubate:

### Summary

The proposal is for Talent Plan Courses, which is a series of courses about computer systems, also TiDB. The purpose of the courses is to help more people enter the field of TiDB or computer infrastructure.

### Motivation

Since there are plenty of people interested in TiDB but lack b

[2019-12-09 10:17] winkyao commented on #126
LGTM

[2019-12-10 07:15] wolfstudy commented on #117
@winkyao PTAL #136 , thanks.

[2019-12-11 06:03] JinLingChristopher opened #141 "Incubating Program: Talent Plan Courses - Distributed Database System"
# Incubating Program
Talent Plan Courses - Distributed Database System

## Describe the feature or project you want to incubate:

### Summary:
As a part of Talent Plan Courses, this program mainly about creating a distributed database system course, both readings and assignments will be covered.

### Motivation
There are already many open study resources for database systems and distributed system

[2019-12-11 09:16] GregoryIan commented on #117
I will take a look

[2019-12-16 12:20] winkyao commented on #112
LGTM

[2019-12-16 13:20] zz-jason commented on #112
LGTM

[2019-12-18 12:45] wowdba opened #148 "Incubating Project: DB Mesh For TiDB"
## **Summary**
The high availability and load balancing access to TiDB recommended by PingCAP is solved by load balancing software or hardware such as LVS, HAProxy and F5. Although this solves the problem of load balancing, it brings a layer of network consumption. LVS, one of the more widely used software with Four-layer load balancing, has not been updated for a long time. HAProxy is a software

[2019-12-18 12:55] zz-jason commented on #148
Maybe we also need user documents for this product?

[2019-12-18 13:01] zz-jason commented on #148
never mind.

This incubating project LGTM 👍

[2019-12-18 18:15] gregwebs commented on #148
The summary explains the problem well. The solution I don't understand :)
Is this implementing load balancing at the client?

[2019-12-19 04:20] frankliu1979 commented on #148
Yes， provide load balancing and other many function（You can refer to the core function introduction above）via independent service process at the client.

[2019-12-19 04:27] wowdba commented on #148
Yes.This is a sidecar model.So deployed on the application side. As you said, implementing load balancing at the client.

[2019-12-20 03:54] wolfstudy commented on #117
Thanks @GregoryIan help, @winkyao  #136 has been merged, any update about the issue? Or how we plan for the next step.

[2019-12-23 12:56] wolfstudy commented on #117
@winkyao @GregoryIan @siddontang  any update for this?

[2019-12-23 16:15] winkyao commented on #148
LGTM,  @gingerkidney @Soline324 Please help @wowdba to incubate this project.

[2019-12-25 03:21] wolfstudy commented on #117
ping @winkyao @GregoryIan @siddontang PTAL thanks.

[2019-12-26 05:03] #141 closed

[2020-01-08 10:08] wolfstudy commented on #117
ping @winkyao @GregoryIan @siddontang any update for this?

[2020-02-24 13:18] you06 opened #165 "Incubating Program: Cherry Bot"
## Incubating Program

Cherry Bot

### Describe the feature or project you want to incubate:

#### Summary

Cherry Bot is a bot which helps you automate some work on github. It provides many features including.

Features:

- Cherry Pick: bot can automatically cherry pick PRs to other branches when PR get merged.
- Auto Merge: for the PRs which have been reviewed and are waiting for CI is completed

[2020-02-24 13:40] zz-jason commented on #165
LGTM

[2020-02-24 14:11] winkyao commented on #165
LGTM

[2020-04-03 11:04] zhouqiang-cl opened #196 "Incubating Program: odin"
## Incubating Program

Odin

### Describe the feature or project you want to incubate:

#### Summary

Odin is a data generator/load tool which helps you fast generator/load data on TiDB cluster. It provides many features including.

Features:

- fast generate TPCC/TPCH data in csv format(sst format will support in future)
- fast load data to TIDB cluster(by wrap a lightning)

#### Motivation

Now.

[2020-04-04 04:47] winkyao commented on #196
lgtm

[2020-04-04 04:48] #196 closed

[2020-04-07 18:20] busiyewang opened #199 "UCP/Sign Up"
## Team Sign-up

- Team Name: busiyewang
- Team Leader:  2260762323@qq.com

[2020-04-07 18:27] #199 closed

[2020-04-13 10:05] g1eny0ung opened #203 "Incubating Program: discourse theme asktug"
## Project Incubating Request

discourse-theme-asktug

### Describe the project you want to incubate:

#### Summary

discourse-theme-asktug is a custom theme which used in AskTUG.

#### Motivation

Custom discourse, it is difficult to say whether it is a simple or not simple thing. You can overwrite the page by using vanilla javascript and CSS. This is simple. But this is not customizable and dest

[2020-04-15 03:39] winkyao commented on #203
LGTM

[2020-04-15 04:11] g1eny0ung commented on #203
@winkyao Thx, Can we merge #202 now?

[2020-04-15 05:23] lichunzhu opened #207 "Incubating Program: tiup-dm"
## Project Incubating Request

tiup-dm

### Describe the project you want to incubate:

#### Summary

Currently, DM is deployed through ansible, which is less easy to use than TiUP. The deployment of components using TiUP-related ecology is simpler and is a trend after version 4.0. tiup-dm allows DM to be deployed through TiUP components.

#### Motivation
* Launch of incubation project on tiup-dm.

[2020-04-30 10:43] sykp241095 opened #212 "abc"

[2020-05-05 14:55] #212 closed

[2020-05-05 14:59] sykp241095 commented on #203
LGTM

[2020-05-05 15:00] #203 closed

[2020-06-01 02:36] lonng opened #240 "Incubating Program: TiUP graduates from pingcap-incubator"
## Project Incubating Request

### Describe the project you want to incubate:

The project `https://github.com/pingcap-incubator/tiup` has developed almost three monthes and generally available from 2020-05-28.

This PR proposes that transfer the TiUP from `pingcap-incubator` to `pingcap`.

### Your RFC/Proposal?

[2020-06-01 02:38] winkyao commented on #240
LGTM

[2020-06-01 02:40] siddontang commented on #240
PTAL @queenypingcap

LGTM

[2020-06-01 02:51] winkyao commented on #240
https://github.com/pingcap/tiup. TiUP is transferred to pingcap org, congratulations!

[2020-06-01 02:51] #240 closed

[2020-06-03 06:05] sunxiaoguang opened #242 "Incubating Project: BigData connectors for TiDB"
## Project Incubating Request

### Describe the project you want to incubate:
Implement a fully featured and performant TiDB connector support to PrestoDB, PrestoSQL, Flink and miscellanies other BigData systems on top of TiSpark project.

[2020-06-03 06:19] winkyao commented on #242
LGTM

[2020-06-03 06:21] winkyao commented on #242
what's the name of the project do you want?

[2020-06-03 07:42] sunxiaoguang commented on #242
How about tidb-connectors? We want to implement Flink connector as well.

[2020-06-03 13:21] sunxiaoguang commented on #242
Let's call it TiBigData!!!
It looks a lot better to me😄

[2020-06-04 11:39] spjich commented on #75
****

[2020-06-08 08:50] qiuyesuifeng commented on #242
LGTM

[2020-06-08 08:52] winkyao commented on #242
I create a repo: https://github.com/pingcap-incubator/TiBigData

[2020-06-22 08:20] winkyao commented on #117
LGTM

[2020-06-23 04:02] wolfstudy commented on #117
@GregoryIan @siddontang PTAL again, thanks

[2020-07-07 07:06] IANTHEREAL commented on #117
I suggest integrating Apache Pulsar into ticdc, are there any issues for it? @wolfstudy

[2020-08-24 02:37] winkyao commented on #148
After discussion, PMC and wowdba still has some concerns about this project, we plan to close it

[2020-08-24 02:37] #148 closed

[2020-08-25 03:15] cx3ptr opened #287 "Incubating Project: DB Proxy/Mesh for TiDB"
## Project Incubating Request
A Proxy/Mesh for TiDB that can replace Layer 4 load balancing such as SLB+Haproxy. It works in Proxy or Mesh(like Envoy) mode but can understand sql semantics, we call it `Weir`.
### Describe the project you want to incubate:

#### Summary
TiDB is adopted by PalFish(伴鱼) since 2016 and is the most important OLTP/OLAP database in our company. We use SLB+Haproxy as the L

[2020-08-25 03:28] winkyao commented on #287
Great project, LGTM @siddontang

[2020-08-25 05:09] siddontang commented on #287
approved

[2020-08-25 14:14] winkyao commented on #287
Repo created: https://github.com/pingcap-incubator/weir

[2020-09-29 11:21] dcalvin opened #309 "Reorganize the community repo structure"
The current structure is not friendly. To optimize:

1. Group all community event into the same events directory.

[2020-10-16 06:40] qw4990 opened #319 "Incubating Program: Plan Change Capturer"
## Project Incubating Request
Plan Change Capturer

### Describe the project you want to incubate:

#### Summary
**User story**: as a user, I want to ensure there is no performance regression caused by SQL plan changes when updating TiDB.

This tool can detect SQL plan changes between different TiDB versions according to corresponding statistical information and schemas.

This tool is almost done(

[2020-10-19 02:51] qw4990 commented on #319
PTAL @zz-jason @SunRunAway

[2020-10-27 06:08] AndreMouche opened #326 "Rename pingcap-incubator to tidb-incubator"
The mission of PingCAP Incubator is to make the TiDB ecosystem and community more active, let the TiDB community get more contributions from developers and users. Therefore, we believe that the "PingCAP Incubator" cannot express its mission.  So we are going to rename it to "TiDB Incubator"

[2020-10-27 06:09] AndreMouche commented on #326
@pingcap/tidb-maintainer PTAL

[2020-10-27 06:30] winkyao commented on #326
LGTM

[2020-10-27 06:34] jackysp commented on #326
LGTM

[2020-10-27 09:11] bb7133 commented on #326
LGTM

[2020-10-27 09:13] sunxiaoguang commented on #326
LGTM

[2020-10-27 09:21] kylin2017 commented on #326
LGTM

[2020-10-27 09:23] breeswish commented on #326
How about current projects like minitrace-rust which is for TiKV community but in incubating stage? It is a PingCAP project, but is not incubating for TiDB, but incubating for TiKV.

[2020-10-27 09:35] winkyao commented on #326
@breeswish I think whatever the minitrace-rust project in pingcap, tidb-incubator or tikv repo. It all makes sense.

[2020-10-27 13:23] siddontang commented on #326
LGTM

[2020-10-27 13:53] zz-jason commented on #326
LGTM

[2020-11-03 03:16] breeswish opened #332 "Graduated Program: TiDB Dashboard"
[TiDB Dashboard](https://docs.pingcap.com/zh/tidb/stable/dashboard-intro) is GA since TiDB v4.0.0, so that this project can be graduated.

This issue propose to move [its reopsitory](https://github.com/pingcap-incubator/tidb-dashboard) into the [pingcap](https://github.com/pingcap) org.

[2020-11-03 03:22] sykp241095 commented on #332
@pingcap/community-reviewers Please help review.

[2020-11-03 03:27] winkyao commented on #332
@gingerkidney Could you please do a due diligence? follow by the https://github.com/pingcap/community/blob/master/incubator/projects-approval-criteria.md. To make sure that TiDB-Dashboard meets graduation criteria.

[2020-11-13 14:53] baisui1981 opened #347 "Incubating Project: TIS - Solr based enterprise level, one-stop search center products"
## Project Incubating Request

TIS - Solr based enterprise level, one-stop search center products with high performance, high reliability and high scalability

### Describe the project you want to incubate:
#### Summary

Use TIS to quickly build enterprise search service for you. TIS includes three components:
- offline index building platform
  The data is exported from TiKV through full table sc

[2020-11-14 02:34] CalvinKirs commented on #347
sounds good to me

[2020-11-16 03:18] winkyao commented on #347
Why the binlog message of TiDB is not obtained based on TiCDC?

[2020-11-16 05:50] sykp241095 commented on #332
Repo has been transferred to http://github.com/pingcap/tidb-dashboard.

[2020-11-16 05:53] #332 closed

[2020-11-16 06:14] baisui1981 commented on #347
Of course, all the changeable points of the TIS platform have been abstracted to form an extendable extend point, whether drainer or TiCDC is possible.

[2020-11-20 10:19] #347 closed

[2020-12-21 07:49] #326 closed

[2021-01-07 13:36] kennytm opened #382 "ti-community-bot's SIG committer promotion check is too strict"
Currently, ti-community-bot requires the following roles to /lgtm on a SIG's membership.json file:

1. modifying "activeContributor" requires one /lgtm from reviewers (or above)
2. modifying "reviewers" requires one /lgtm from committers (or above)
3. **modifying "committers" requires two /lgtm from "maintainers"**
4. modifying "coLeaders" and "techLeaders" require two /lgtm from "maintainers"

Th

[2021-01-07 13:47] hi-rustin commented on #382
I fixed some mistakes you made in the permission description. Now it's aligned with the robot.

[2021-01-07 14:02] hi-rustin commented on #382
In fact, I want to redesign the whole promotion process, I think the current way of merging is too inefficient. I will write a document to redesign the process, and maybe we can change the permission to add committers before that.

@winkyao @sykp241095  What do you think?

[2021-01-15 06:07] sykp241095 commented on #382
+1, the current procedure is tooooo complex.

[2021-01-15 06:31] hi-rustin commented on #382
/assign

I will submit a new process design to optimize the process.

[2021-01-19 16:52] dragonly opened #389 "Incubating Project: TiDE"
## Project Incubating Request

### Describe the project you want to incubate:

[Original RFC in TiDB Hackathon 2020](https://gist.github.com/dragonly/dfe1d5c9ecb50eb4fc460a663a5d5076#file-ticode_proposal-md)

TiDE is a TiDB IDE project, which got the second prize in the TiDB Hackathon 2020.

#### Motivation

TiDB as a distributed database system project is very complicated. For community newbies,

[2021-02-02 05:30] hi-rustin commented on #382
See: https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing

[2021-02-20 03:20] dragonly opened #406 "REQUEST: New membership for @dragonly"
### GitHub Username
@dragonly

### SIG you are requesting membership in
Docs SIG committer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization-management requirement

[2021-02-20 06:31] hi-rustin commented on #406
@dragonly  After @ran-huang  and @DanielZhangQD  agree to sponsor you and comment in the issue, I will submit a PR to update the membership.

[2021-02-20 06:35] hi-rustin commented on #382
/close

By https://github.com/pingcap/community/pull/402

[2021-02-20 06:35] #382 closed

[2021-02-20 06:47] hi-rustin commented on #81
/close

The issue has not been replied for a long time, so I will close the issue.

If the issue needs to be discussed, please reply to request reopen, and I will reopen the issue for you.

[2021-02-20 06:47] #81 closed

[2021-02-20 06:49] hi-rustin commented on #83
/close

The issue has not been replied for a long time, so I will close the issue.

If the issue needs to be discussed, please reply to request reopen, and I will reopen the issue for you.

[2021-02-20 06:49] #83 closed

[2021-02-20 06:51] hi-rustin commented on #165
/close

The issue has not been replied for a long time, so I will close the issue.

If the issue needs to be discussed, please reply to request reopen, and I will reopen the issue for you.

[2021-02-20 06:51] #165 closed

[2021-02-20 06:52] hi-rustin commented on #130
/close

The issue has not been replied for a long time, so I will close the issue.

If the issue needs to be discussed, please reply to request reopen, and I will reopen the issue for you.

[2021-02-20 06:52] #130 closed

[2021-02-20 10:00] ran-huang commented on #406
LGTM

[2021-02-20 10:04] hi-rustin commented on #406
Maybe it's better to use +1 to indicate agreement to sponsorship, but LGTM is fine with that.

[2021-02-23 03:32] DanielZhangQD commented on #406
+1

[2021-02-23 07:06] #406 closed

[2021-03-01 13:39] fanweixiao opened #408 "Incubating Feature: steam bulk insert in IoT scenario"
## Feature Incubating Request

In the IoT industry, integrated with YoMo to reduce the pressure and the cost when storing data to the cloud.

### Describe the feature you want to incubate:

We are introducing [YoMo](https://yomo.run)  a streaming serverless framework to the IoT industry. In this scenario, IoT devices/sensors always generate data at high frequency, when hundreds of these data sourc

[2021-03-01 13:53] c4pt0r commented on #408
Thank you! And really appreciate you also post a FaunaDB example.

[2021-03-04 05:52] handlerww opened #412 "REQUEST: New membership for handlerww"
### GitHub Username
@handlerww

### SIG you are requesting membership in
- sig-name: sig-k8s
- role: committer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization-ma

[2021-03-04 05:53] DanielZhangQD commented on #412
+1

[2021-03-04 05:55] hi-rustin commented on #412
Better put a github search URL.

[2021-03-04 05:57] lonng commented on #412
/lgtm

[2021-03-04 06:00] handlerww commented on #412
done

[2021-03-04 06:05] lonng commented on #412
+1

[2021-03-04 06:06] #412 closed

[2021-03-04 06:44] dragonly opened #414 "REQUEST: New membership for dragonly"
### GitHub Username
@dragonly

### SIG you are requesting membership in
- sig-name: sig-k8s
- role: committer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization-man

[2021-03-04 06:45] lonng commented on #414
+1

[2021-03-04 06:51] DanielZhangQD commented on #414
+1

[2021-03-05 03:02] #414 closed

[2021-03-05 10:10] handlerww opened #416 "REQUEST: New membership for @handlerww"
### GitHub Username
handlerww

### SIG you are requesting membership in
- sig-name: sig-docs
- role: reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization-man

[2021-03-05 10:11] DanielZhangQD commented on #416
+1

[2021-03-09 02:10] guoshengcc opened #418 "Incubating Program: Modelized Data Interface (MDI)"
## Project Incubating Request
Modelized Data Interface(Hereinafter referred to as, MDI)
### Describe the project you want to incubate:

## Summary
We note that there is no dedicated data service tool in the TiDB ecosystem, i.e., it is easy to obtain high-performance APIs for data manipulation (or access) through existing databases in order to achieve the goal of simplifying (or replacing) the back

[2021-03-09 18:25] fanweixiao commented on #408
@c4pt0r We implement one at https://github.com/yomorun/yomo-sink-tidb-example, please check

[2021-03-11 06:12] wshwsh12 opened #419 "REQUEST: New membership for @wshwsh12"
### GitHub Username
@wshwsh12

### SIG you are requesting membership in
- sig-name: sig-coprocessor
- role: reviwer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organizati

[2021-03-11 06:37] breeswish commented on #419
LGTM

[2021-03-11 06:37] breeswish commented on #419
+1

[2021-03-11 11:45] sticnarf commented on #419
+1

[2021-03-12 05:42] #419 closed

[2021-03-19 07:38] Yisaer opened #421 "REQUEST: New membership for @Yisaer"
### GitHub Username
@Yisaer

### SIG you are requesting membership in
- sig-name: sig-sql-infra
- role: reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization-

[2021-03-19 07:40] xhebox commented on #421
+1

[2021-03-19 07:43] djshow832 commented on #421
+1

[2021-03-19 07:45] #421 closed

[2021-03-26 02:30] Reminiscent opened #423 "REQUEST: New membership for @Reminiscent"
### GitHub Username
Reminiscent

### SIG you are requesting membership in
- sig-name: sig-planner
- role: committer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organizati

[2021-03-29 05:09] winoros commented on #423
+1

[2021-03-29 07:57] jyz0309 opened #425 "REQUEST: New membership for jyz0309"
### GitHub Username
@jyz0309

### SIG you are requesting membership in
- sig-name: sig-sql-infra
- role: reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization

[2021-03-29 07:58] crazycs520 commented on #425
+1

[2021-03-29 08:00] breeswish commented on #425
+1

[2021-03-29 08:01] crazycs520 commented on #425
cc @hi-rustin

[2021-03-29 08:01] crazycs520 commented on #425
/cc @hi-rustin

[2021-03-29 08:04] breeswish commented on #425
I'm not a sponsor. Remove me from the list XXXXD

[2021-03-29 08:37] bb7133 commented on #425
Just curious...what does this mean? @hi-rustin

[2021-03-29 09:33] hi-rustin commented on #425
See the guidelines.

[2021-04-01 04:53] zimulala opened #427 "REQUEST: New membership for zimulala"
### GitHub Username
@zimulala

### SIG you are requesting membership in
- sig-name: sig-exec
- role: committer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization-ma

[2021-04-01 04:54] zimulala commented on #427
/cc @hi-rustin

[2021-04-01 06:22] wshwsh12 commented on #427
+1

[2021-04-01 07:05] XuHuaiyu commented on #427
/lgtm

[2021-04-01 08:15] #427 closed

[2021-04-02 05:24] qiancai opened #428 "REQUEST: New membership for @qiancai"
### GitHub Username
@qiancai

### SIG you are requesting membership in
- sig-name: Docs SIG
- role: active contributor

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organiz

[2021-04-02 05:28] TomShawn commented on #428
/lgtm

[2021-04-02 05:28] ran-huang commented on #428
+1

[2021-04-03 03:22] hi-rustin commented on #425
Please fill these fields.

[2021-04-03 03:24] hi-rustin commented on #425
Also, reviewer in sig-sql-infra needs two valid sponsors.

[2021-04-13 15:28] tisonkun opened #431 "TiDB Design Document Workflow"
## Feature Incubating Request

We have an entry about how to write proposals in [this directory](https://github.com/pingcap/tidb/blob/master/docs/design/README.md), but the content is quite out of date. As TiDB community grows rapidly, we'd better setup a clear design document workflow with nowadays situation.

### Describe the feature you want to incubate:

Propose a TiDB Design Document Workflow

[2021-04-14 06:32] Tjianke opened #432 "REQUEST: New membership for Tjianke"
### GitHub Username
@Tjianke

### SIG you are requesting membership in
- sig-name: sig-execution
- role: reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization

[2021-04-14 06:37] mmyj commented on #432
+1

[2021-04-14 06:38] Yisaer commented on #432
+1

[2021-04-14 06:51] #428 closed

[2021-04-14 07:05] #432 closed

[2021-04-14 08:48] csuzhangxc opened #435 "REQUEST: New membership for csuzhangxc"
### GitHub Username

@csuzhangxc

### SIG you are requesting membership in
- sig-name: sig-k8s
- role: committer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization-

[2021-04-14 09:15] handlerww commented on #435
+1

[2021-04-14 09:15] DanielZhangQD commented on #435
+1

[2021-04-14 09:37] #435 closed

[2021-04-21 05:00] TszKitLo40 opened #437 "REQUEST: New membership for @TszKitLo40"
### GitHub Username
@TszKitlo40

### SIG you are requesting membership in
- sig-name: sig-exec
- role: reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization-m

[2021-04-21 06:28] XuHuaiyu commented on #437
/lgtm

[2021-04-21 06:57] wshwsh12 commented on #437
+1

[2021-04-21 07:50] qw4990 commented on #423
+1

[2021-04-21 09:17] #423 closed

[2021-04-22 08:33] qiancai opened #440 "REQUEST: New membership for @qiancai"
### GitHub Username
@qiancai

### SIG you are requesting membership in
- sig-name: Docs SIG
- role: Reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization-mana

[2021-04-22 08:37] ran-huang commented on #440
+1

[2021-04-22 08:38] TomShawn commented on #440
+1

[2021-04-22 13:09] #431 closed

[2021-04-26 07:11] #437 closed

[2021-04-26 07:13] #440 closed

[2021-05-07 10:42] qiancai opened #445 "REQUEST: New membership for @qiancai"
### GitHub Username
@qiancai

### SIG you are requesting membership in
- sig-name: Docs SIG
- role: Committer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization-man

[2021-05-07 11:02] TomShawn commented on #445
/lgtm

[2021-05-10 09:06] july2993 opened #446 "REQUEST: New membership for july2993"
### GitHub Username
@july2993

### SIG you are requesting membership in
- sig-name: e.g. sig-k8s
- role: e.g. committer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organi

[2021-05-10 09:22] DanielZhangQD commented on #446
+1

[2021-05-11 07:13] handlerww commented on #446
+1

[2021-05-11 07:21] #446 closed

[2021-05-11 09:17] #445 closed

[2021-05-12 07:20] shhdgit opened #452 "REQUEST: New membership for shhdgit"
### GitHub Username
@shhdgit

### SIG you are requesting membership in
- sig-name: sig-diagnosis
- role: committer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organizatio

[2021-05-12 07:22] breeswish commented on #452
LGTM. Congrats!

[2021-05-12 07:25] baurine commented on #452
LGTM, good job!

[2021-05-12 12:07] breeswish commented on #452
@hi-rustin PTAL, thanks!

[2021-05-13 09:03] #452 closed

[2021-05-31 10:31] JmPotato opened #456 "REQUEST: New membership for @JmPotato"
### GitHub Username

@JmPotato

### SIG you are requesting membership in

- sig-name: sig-sql-infra
- role: reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organizat

[2021-05-31 10:31] Yisaer commented on #456
+1

[2021-05-31 10:52] xhebox commented on #456
I think the PR reviews are not enough as said in the sig-sql-infra roles-and-organization(20 reviews). I am OK to the promotion but I think we should at least meet this requirement.

Count: https://github.com/pingcap/tidb/pulls?q=is%3Apr+label%3Asig%2Fsql-infra+reviewed-by%3AJmPotato+ and https://github.com/pingcap/parser/pulls?q=is%3Apr+reviewed-by%3AJmPotato+.

[2021-05-31 12:24] JmPotato commented on #456
I think the rule is "Have at least 20 PRs (at least 10 PRs in tidb repo) merged.", so it should be 20 merged PRs, not reviewed?

Ref: https://github.com/pingcap/community/blob/master/special-interest-groups/sig-sql-infra/roles-and-organization-management.md#from-active-contributor-to-reviewer

[2021-05-31 13:12] xhebox commented on #456
https://github.com/pingcap/tidb/pulls?q=is%3Apr+label%3Asig%2Fsql-infra+author%3AJmPotato+sort%3Aupdated-desc+
https://github.com/pingcap/parser/pulls?q=is%3Apr+author%3AJmPotato+sort%3Aupdated-desc+
8+2 infra PRs?

[2021-05-31 15:30] JmPotato commented on #456
😢 I didn't notice that the merged PR should have `sig/sql-infra` label. It seems that I still have a long way to go...

[2021-06-01 10:57] Howie59 opened #460 "REQUEST: New membership for Howie59"
### GitHub Username
@howie59

### SIG you are requesting membership in
- sig-name: sig-infra
- role: active contributor

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organi

[2021-06-01 11:13] djshow832 commented on #460
LGTM

[2021-06-01 12:01] tiancaiamao commented on #460
LGTM

[2021-06-02 04:11] #460 closed

[2021-06-03 10:06] guo-shaoge opened #462 "REQUEST: New membership for @guo-shaoge"
### GitHub Username
@guo-shaoge

### SIG you are requesting membership in
- sig-name: sig-exec
- role: reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization-m

[2021-06-03 10:08] lzmhhh123 commented on #462
+1

[2021-06-03 10:09] ichn-hu opened #463 "REQUEST: New membership for @ichn-hu"
### GitHub Username

@ichn-hu

### SIG you are requesting membership in
- sig-name: sig-execution
- role: committer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organizati

[2021-06-03 10:10] wshwsh12 commented on #463
+1

[2021-06-03 10:40] XuHuaiyu commented on #462
+1

[2021-06-03 10:40] XuHuaiyu commented on #463
+1

[2021-06-04 05:07] Mini256 commented on #463
Please fill these fields.

[2021-06-04 05:08] Mini256 commented on #462
Please fill these fields.

[2021-06-04 09:03] guo-shaoge commented on #462
Done.

[2021-06-06 02:58] #462 closed

[2021-06-08 01:27] morgo opened #465 "REQUEST: New membership for @dveeden"
### GitHub Username

@dveeden

### SIG you are requesting membership in
- sig-name: e.g. sig-docs
- role: reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organizatio

[2021-06-08 01:55] TomShawn commented on #465
LGTM

[2021-06-08 04:29] Mini256 commented on #463
ping~ @ichn-hu

[2021-06-08 04:42] #465 closed

[2021-06-08 06:46] ichn-hu commented on #463
@Mini256 done!

[2021-06-08 07:32] zhuo-zhi opened #469 "REQUEST: New membership for @zhuo-zhi"
### GitHub Username
@zhuo-zhi

### SIG you are requesting membership in
- sig-name: sig-planner
- role: reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization-

[2021-06-08 10:27] Mini256 commented on #469
@zhuo-zhi Please fill in this information, after the sponsors pass the nominations by comment `+1`, I will help you submit the PR to update the SIG membership.

[2021-06-08 11:47] qw4990 commented on #469
+1

[2021-06-08 11:47] winoros commented on #469
+1

[2021-06-08 11:48] qw4990 commented on #469
PTAL @Mini256

[2021-06-09 03:54] #469 closed

[2021-06-09 03:56] #463 closed

[2021-06-28 05:47] zwj-coder opened #479 "REQUEST: New membership for @zwj-coder"
### GitHub Username
@zwj-coder

### SIG you are requesting membership in
- sig-name: sig-migration
- role:  committer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organiza

[2021-06-28 06:05] Leavrth opened #480 "REQUEST: New membership for Leavrth"
### GitHub Username
@Leavrth

### SIG you are requesting membership in
- sig-name: sig-migration
- role: committer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organizatio

[2021-06-29 02:27] Mini256 commented on #479
Waiting for approval from two sponsors via comment `+1`.

[2021-06-29 02:27] Mini256 commented on #480
Waiting for approval from two sponsors via comment `+1`.

[2021-06-29 06:54] kennytm commented on #479
+1

[2021-06-29 06:54] 3pointer commented on #479
+1

[2021-06-29 06:54] 3pointer commented on #480
+1

[2021-06-29 07:57] kennytm commented on #480
+1

[2021-07-01 06:09] xuegang opened #483 "ServerlessDB for HTAP"
Describe the feature or project you want to incubate:
Summary

we want to provide serverless db services based on TIDB on
the cloud, focusing on how to dynamically scale up and down the compute storage nodes
based on business load changes to achieve zero user perception. To ensure that the
database service process, always maintain the best match between business load and
background resources, thus

[2021-07-01 09:32] sykp241095 commented on #483
/LGTM

[2021-07-01 09:40] winkyao commented on #483
/lgtm

[2021-07-01 10:33] #479 closed

[2021-07-01 11:35] #480 closed

[2021-07-01 12:20] sunxiaoguang commented on #483
LGTM

[2021-07-02 03:12] Liuxiaozhen12 opened #484 "REQUEST: New membership for @Liuxiaozhen12"
### GitHub Username
e.g. @Liuxiaozhen12

### SIG you are requesting membership in
- sig-name: Docs SIG
- role: active contributor

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-

[2021-07-02 03:12] TomShawn commented on #484
LGTM

[2021-07-02 03:25] qiancai commented on #484
LGTM

[2021-07-05 07:43] #484 closed

[2021-07-06 02:42] bufferflies opened #486 "REQUEST: New membership for bufferflies"
### GitHub Username
@bufferflies

### SIG you are requesting membership in
- sig-name: sig-scheduling
- role: Active Contributor

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-a

[2021-07-06 03:24] yangzhg opened #487 "Incubating Program: TiDB Doris connector"
## TiDB Doris connector

### Describe the project you want to incubate:
#### Summary

TiDB and Doris are both decent opensource relational data database. TiDB is a fusion distributed database product, while Doris is more focused on the OLAP field. If Doris can hand over part of the OLAP analysis task to Doris, it can realize efficient large-scale OLAP analysis with the help of Doris's physical and

[2021-07-06 03:33] Mini256 commented on #486
[code]
Please fill in the above fields.

[2021-07-06 08:40] nolouch commented on #486
lgtm

[2021-07-07 05:31] Mini256 commented on #486
It needs to be approved by two sponsors. It's better to use the `+1` comment uniformly to indicate that the nomination is approved.

[2021-07-07 06:30] niubell commented on #487
`If Doris` →`If TiDB` ?

[2021-07-07 07:31] rleungx commented on #486
+1

[2021-07-07 11:03] Mini256 commented on #486
I found that the request you submit to join TiKV's SIG, but in fact, TiKV no longer uses the concept of SIG.

@tisonkun, Can you have a look?

[2021-07-07 13:21] tisonkun commented on #486
Weird...TiKV community has nothing to do with pingcap/community. I will reach @nolouch & @rleungx and guide them follow TiKV process.

[2021-07-07 15:05] winkyao commented on #487
LGTM

[2021-07-10 06:38] sunxiaoguang commented on #487
Realized that there is dependency to TiDB binlog, since TiCDC is going to replace binlog eventually. Can we start with TiCDC instead?

[2021-07-12 05:56] gozssky opened #488 "REQUEST: New membership for gozssky"
### GitHub Username
@gozssky

### SIG you are requesting membership in
- sig-name: sig-migrate
- role: reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization-m

[2021-07-12 09:15] yangzhg commented on #487
Of course, you can use any way you want,  binlog is just an example

[2021-07-12 09:48] sunxiaoguang commented on #487
This is my only comment. Rest LGTM.

[2021-07-14 07:33] kennytm commented on #488
the number of PRs reviewed (13 — that's including cherry-picks which ought not to be counted but anyway) does not quite meet the [requirement](https://github.com/pingcap/community/blob/master/special-interest-groups/sig-migrate/roles-and-organization-management.md#promotion) yet (20). perhaps requesting for "Reviewer" first is more appropriate.

[2021-07-14 07:47] gozssky commented on #488
updated

[2021-07-14 07:48] kennytm commented on #488
+1

[2021-07-14 09:58] 3pointer commented on #488
+1

[2021-07-14 10:25] gozssky commented on #488
@Mini256 PTAL

[2021-07-15 10:55] tisonkun opened #490 "REQUEST: New membership for tisonkun"
### GitHub Username

@tisonkun

### SIG you are requesting membership in

- sig-name: sig-sql-infra
- role: active contributor

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and

[2021-07-16 04:29] tisonkun commented on #490
@tiancaiamao @bb7133 it seems you should comment "LGTM" for explicit approval.

[2021-07-16 07:53] #488 closed

[2021-07-19 01:54] tiancaiamao commented on #490
/LGTM

[2021-07-20 05:29] #490 closed

[2021-07-21 05:46] Liuxiaozhen12 opened #494 "REQUEST: New membership for @Liuxiaozhen12"
### GitHub Username
Liuxiaozhen12

### SIG you are requesting membership in
- sig-name: docs SIG
- role: reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization

[2021-07-21 05:52] TomShawn commented on #494
LGTM

[2021-07-21 05:57] qiancai commented on #494
LGTM

[2021-07-23 05:59] KanShiori opened #496 "REQUEST: New membership for KanShiori"
### GitHub Username
@KanShiori

### SIG you are requesting membership in
- sig-name: sig-k8s
- role: reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization-man

[2021-07-23 06:02] csuzhangxc commented on #496
+1

[2021-07-23 06:14] DanielZhangQD commented on #496
+1

[2021-07-23 20:53] hatho286 opened #497 "Project Incubating Request"
## Project Incubating Request

### Describe the project you want to incubate:

### Your RFC/Proposal?

[2021-07-26 02:49] Mini256 commented on #496
Please remove the `e.g.` in the pr body, it means for example.

You also need to review the [roles-and-organization-management.md ](https://github.com/pingcap/community/blob/master/special-interest-groups/sig-k8s/roles-and-organization-management.md), there are some SIG specific requirements you need to satisfy.

[2021-07-26 03:49] xhebox opened #498 "REQUEST: New membership for xhebox"
### GitHub Username

@xhebox

### SIG you are requesting membership in
- sig-name: sig-exec
- role: reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization-mana

[2021-07-26 03:49] xhebox commented on #498
/cc @bb7133 @AilinKid

[2021-07-26 04:32] KanShiori commented on #496
I changed role to reviewer, please check again.

[2021-07-27 03:32] #494 closed

[2021-07-27 03:38] #496 closed

[2021-07-28 03:02] AilinKid commented on #498
/LGTM

[2021-07-28 03:11] zimulala commented on #498
/LGTM

[2021-07-28 03:15] tiancaiamao commented on #498
/LGTM

[2021-07-28 08:14] #498 closed

[2021-07-28 08:34] Liuxiaozhen12 opened #501 "REQUEST: New membership for @Liuxiaozhen12"
### GitHub Username
e.g. @Liuxiaozhen12

### SIG you are requesting membership in
- sig-name: docs SIG
- role: committer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organ

[2021-07-28 08:36] TomShawn commented on #501
LGTM

[2021-07-28 08:38] qiancai commented on #501
LGTM

[2021-07-28 08:55] Ehco1996 opened #502 "REQUEST: New membership for Ehco1996"
### GitHub Username
@Ehco1996

### SIG you are requesting membership in
- sig-name: sig-migrate
- role: committer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization

[2021-07-28 08:56] Ehco1996 commented on #502
/cc @lichunzhu @lance6716

[2021-07-28 08:59] glorv commented on #502
/cc @kennytm

[2021-07-28 09:36] Mini256 commented on #502
Could you please list PRs that you reviewed through this [search syntax](https://docs.github.com/en/github/searching-for-information-on-github/searching-on-github/searching-issues-and-pull-requests#search-by-pull-request-review-status-and-reviewer)

[2021-07-28 09:39] Ehco1996 commented on #502
thanks for review updated [reviewed 54](https://github.com/pingcap/dm/pulls?q=type%3Apr+reviewed-by%3AEhco1996)

[2021-07-28 09:43] Mini256 commented on #502
ok, I will approve the promotion PR after the sponsors approve the promotion through commenting `+1` on this issue.

[2021-07-28 09:44] lance6716 commented on #502
+1

[2021-07-28 09:52] Mini256 commented on #501
@Liuxiaozhen12, Could you please list PRs that you reviewed through this [search syntax](https://docs.github.com/en/github/searching-for-information-on-github/searching-on-github/searching-issues-and-pull-requests#search-by-pull-request-review-status-and-reviewer), and you also need to check out [the SIG Specific Requirements](https://github.com/pingcap/community/blob/master/special-interest-group

[2021-07-28 10:32] kennytm commented on #502
+1

[2021-07-28 13:00] lichunzhu commented on #502
+1

[2021-07-29 02:30] #502 closed

[2021-07-30 08:04] hi-rustin opened #506 "REQUEST: New membership for hi-rustin"
### GitHub Username
e.g. @hi-rustin

### SIG you are requesting membership in
- sig-name: sig-migrate
- role: reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organiz

[2021-07-30 08:12] amyangfei commented on #506
Approved 👏

[2021-07-30 08:19] overvenus commented on #506
Awesome! 👍

[2021-07-30 09:56] Liuxiaozhen12 commented on #501
I've updated my request, PTAL~ @Mini256

[2021-07-30 11:55] en-jin19 opened #507 "REQUEST: New membership for en-jin19"
### GitHub Username
@en-jin19

### SIG you are requesting membership in
- sig-name: docs SIG
- role: Active Contributor

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organi

[2021-08-02 03:13] #506 closed

[2021-08-02 03:15] #501 closed

[2021-08-03 06:21] Mini256 commented on #507
@TomShawn, @qiancai Could you mind taking a look, if you agree with this promotion, you can reply through the `+1` comment.

[2021-08-03 08:25] TomShawn commented on #507
LGTM

[2021-08-04 06:42] lcwangchao opened #511 "REQUEST: New membership for @lcwangchao"
### GitHub Username
@lcwangchao

### SIG you are requesting membership in
- sig-name: sig-sql-infra
- role: reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organizat

[2021-08-04 06:44] djshow832 commented on #511
LGTM

[2021-08-04 06:49] djshow832 commented on #425
I'm so sorry to tell you that you have only 4 commits with the `sig/sql-infra` label, but the rule is you must have at least 20 commits to be a reviewer.
Don't worry, I believe you can do it!

[2021-08-04 06:51] tiancaiamao commented on #511
LGTM

[2021-08-04 09:17] #106 closed

[2021-08-05 03:02] Mini256 commented on #511
Please fill in these fields.

For example: https://github.com/pingcap/community/issues/506

[2021-08-05 11:54] lcwangchao commented on #511
Done

[2021-08-06 09:28] Mini256 commented on #507
@qiancai ping~

[2021-08-06 09:32] #486 closed

[2021-08-06 12:30] tisonkun commented on #486
ref https://github.com/tikv/community/pull/136

[2021-08-07 03:17] tisonkun commented on #207
closed as mentioned at https://github.com/pingcap/community/pull/206#issuecomment-657383647

[2021-08-07 03:17] #207 closed

[2021-08-07 03:18] tisonkun commented on #242
closed as done.

[2021-08-07 03:18] #242 closed

[2021-08-07 03:19] tisonkun commented on #456
closed as unqualified. @JmPotato you can always reopen this issue or create a new one once you want to request again when qualified.

[2021-08-07 03:19] #456 closed

[2021-08-07 03:20] tisonkun commented on #425
closed as unqualified. @jyz0309  you can always reopen this issue or create a new one once you want to request again when qualified.

[2021-08-07 03:20] #425 closed

[2021-08-07 04:06] tisonkun opened #516 "Proposal: Lightweight and GitHub Friendly Special Interest Group"
* [x] #519
* [x] #520
* [x] #521

## What is the problem SIGs meet?

### SIGs divide repository

Generally SIGs own one or more repository, but sig-sql-infra, sig-planner, sig-execution, sig-migration, and so on share the main repo [pingcap/tidb](https://github.com/pingcap/tidb).

It hurts that we artificially break GitHub repo into several parts while database internals are interrelated. Most of

[2021-08-09 05:23] #511 closed

[2021-08-10 12:05] xuyifangreeneyes opened #517 "REQUEST: New membership for @xuyifangreeneyes"
### GitHub Username
@xuyifangreeneyes

### SIG you are requesting membership in
- sig-name: sig-planner
- role: reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organ

[2021-08-10 17:28] disksing commented on #516
💯 Please make it happen ASAP

[2021-08-11 03:29] winkyao commented on #516
LGTM

[2021-08-11 04:39] sunxiaoguang commented on #516
Makes better sense for me. LGTM

[2021-08-11 05:48] zhouqiang-cl commented on #516
LGTM

[2021-08-11 10:03] winoros commented on #517
+1

[2021-08-11 10:09] qw4990 commented on #517
+1

[2021-08-12 05:08] xuyifangreeneyes commented on #517
@Mini256 PTAL

[2021-08-12 11:03] Mini256 commented on #516
[ti-community-infra/configs](https://github.com/ti-community-infra/configs) repo seems to be a special case. It belongs to ti-community-infra team, but in fact, it needs other team members to review the PRs, the bot cannot give other team members permission to review only according to GitHub permission.

Previously, configs repo can dynamically adjust PR permissions by adding SIG label. After remo

[2021-08-13 03:03] morgo commented on #516
LGTM

[2021-08-13 06:03] #517 closed

[2021-08-17 06:29] tisonkun commented on #516
I'd prefer to delegate the review bit to infra team member. Let ti-community-infra to be isolated in the community and the member of infra team accept request from community teams/sigs and reflect the mechanism. That is more like a secretary than a manager.

[2021-08-17 06:30] tisonkun commented on #516
Thanks for your feedbacks! I'm going to elaborate more details.

Basically on the new membership list and mechanism to support that.

[2021-08-17 06:35] tisonkun opened #519 "Special Interest Groups should never divide repository"
subtask of #516

Generally SIGs own one or more repository, but sig-sql-infra, sig-planner, sig-execution, sig-migration, and so on share the main repo [pingcap/tidb](https://github.com/pingcap/tidb).

It hurts that we artificially break GitHub repo into several parts while database internals are interrelated. Most of our contributors are looking forward to a GitHub repo granularity governance tha

[2021-08-17 06:37] tisonkun opened #520 "Reflect Membership in Special Interest Group by GitHub Team"
subtask of #516

* [x] https://github.com/ti-community-infra/tichi/issues/694

SIG members' permission are granted by membership file in this repository. It is not GitHub friendly that our committer cannot do actions required GitHub write permission on repositories owned by SIGs, said edit issues, be assigned, etc.

Keep membership file for display but create GitHub teams to grant committers etc.

[2021-08-17 06:39] tisonkun opened #521 "Cleanup Content about Special Interest Group"
subtask of #516

The promotion rules are not well respected where most of contributors think PR numbers requirements are ridiculous. The actual rule is enough sponsor, i.e., consensus voting.

Also the procedure is highly coupled with infra team that you should file an issue first and later two of infra team create and approve the PR so you are added as an member, which hurts SIG committers and le

[2021-08-17 08:13] tisonkun commented on #520
@Mini256 can we use trusted-team to identify committers and reviewers? I think we can regard maintainers as committers effectively on GitHub.

[2021-08-17 09:09] tisonkun commented on #519
A new sig (named as team for distinguished) has its reviewer, committer and maintainer.

* A reviewer is able to review pull request for quality and correctness of repositories associated with the team. His/Her LGTM is counted.
* A committer is able to both review and commit pull request.
* A maintainer, based on the rights of a committer, is able to promote or evict(emeritus member for reference)

[2021-08-18 01:42] shenli opened #523 "It would be great that we can add English name in the maintainer/committer list"
For maintainer: https://github.com/pingcap/community/blob/master/architecture/maintainer-list.md
For the committer, it will link to a page on tidb.io with Chinese content only. https://tidb.io/archived/events//organization/

[2021-08-18 01:44] tisonkun opened #524 "Is there a list of all incubating projects?"
cc @luzizhuo @gingerkidney

It is weird we create an issue, collect LGTM, and everything "DONE". Where can we trace the incubating projects? Projects under https://github.com/tidb-incubator/ is not the answer, I don't know their status and where they graduate to. Why tinysql and tinykv and vldbss-2021? They have nothing to do with "incubating".

[2021-08-18 01:58] tisonkun commented on #124
Closed as RFC merged.

[2021-08-18 01:58] #124 closed

[2021-08-18 02:09] tisonkun opened #525 "Tracking issue for reviewing community content"
As time goes by, this repository generated lots of content, including:

* Event: Hacktoberfest, bug-hunting-programs, challenge-programs, etc.
* Governance: governance, special-interest-groups, toc, working-groups, architecture, etc.
* Incubator: graduation-proposal, rfc, etc.
* Contribution Guideline: contributors, learning-resources, become-a-committer.md, etc.

## Event

They are almost outdate

[2021-08-18 02:14] tisonkun commented on #523
Thanks for reporting this issue @shenli !

The content under this folder ("architecture") is actually outdated.

* pmc-list: we have no longer PMC.
* committer-list: it is reflected by content under "special-interest-group" and being moved in #522 with the proposal #516 .
* maintainer-list: it doesn't fit governance model now and in the ongoing proposal #516 any more. However, I highly appreciate

[2021-08-18 02:16] tisonkun commented on #523
... well I think we can just do the archive in place at once. As part of #525 .

[2021-08-20 02:27] asddongmen opened #528 "REQUEST: New membership for asddongmen"
### GitHub Username
asddongmen

### SIG you are requesting membership in
- sig-name: sig-migrate
- role: reviewer

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization

[2021-08-20 02:28] #523 closed

[2021-08-20 02:32] amyangfei commented on #528
Approved. 👏👏

[2021-08-20 02:42] leoppro commented on #528
Approved.

[2021-08-20 02:42] leoppro commented on #528
@Mini256 PTAL

[2021-08-20 09:46] #528 closed

[2021-08-29 13:59] karuppiah7890 opened #530 "Fix wrong help-wanted issues link"
In this doc - https://github.com/pingcap/community/blob/master/contributors/README.md#your-first-contribution , the link to help-wanted issues seems to be wrong

Wrong link - https://github.com/pingcap/tidb/issues?q=is%3Aissue+is%3Aopen+label%3Astatus%2Fhelp-wanted

Right link - https://github.com/pingcap/tidb/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22

[2021-08-29 14:05] tisonkun commented on #530
Thanks for your reporting this. I think you can just open a PR to fix it.

By the way, we're trying to factor out contributing guide into our [TiDB Dev Guide](https://pingcap.github.io/tidb-dev-guide/contribute-to-tidb) and you can find a section ["Looking for what to contribute"](https://pingcap.github.io/tidb-dev-guide/contribute-to-tidb/contribute-code.html#looking-for-what-to-contribute). I th

[2021-08-29 14:48] #530 closed

[2021-08-30 06:52] #519 closed

[2021-08-30 07:04] tisonkun commented on #521
related to #525

[2021-08-31 11:34] tisonkun commented on #520
closed as team created and tichi related logics adapted.

[2021-08-31 11:34] #520 closed

[2021-09-02 03:38] tisonkun opened #536 "Archive outdated events content"

[2021-09-02 06:12] #521 closed

[2021-09-02 10:36] tisonkun opened #538 "Cleanup Content about Working Group"

[2021-09-02 10:58] #536 closed

[2021-09-02 11:17] tisonkun commented on #88
@HunDunDM is this feature already done? If so, please comment the related issue or PR.

[2021-09-02 11:50] #538 closed

[2021-09-02 12:55] tisonkun opened #540 "Merge Content about Governance Voting"

[2021-09-02 12:56] tisonkun commented on #516
closed as all subtasks done.

[2021-09-02 12:56] #516 closed

[2021-09-02 17:55] andylokandy commented on #88
The related repo is deleted, so I think you are free to close this.

[2021-09-03 00:16] tisonkun commented on #88
@andylokandy thanks. Closing...

[2021-09-03 00:16] #88 closed

[2021-09-03 00:34] tisonkun commented on #86
@hicqu @zz-jason is this feature released or stopped?

[2021-09-03 01:27] tisonkun commented on #117
Closed as integrated Apache Pulsar into TiCDC by https://github.com/pingcap/ticdc/pull/751

[2021-09-03 01:27] #117 closed

[2021-09-03 01:29] tisonkun opened #542 "Review existing RFCs"

[2021-09-03 01:34] tisonkun opened #543 "Move `learning-resource` to TiDB / TiKV Dev Guide"

[2021-09-03 01:35] tisonkun commented on #543
@zhangyangyu I will try to do the TiKV Dev Guide part. You may be interested in integrating this on TiDB Dev Guide also.

After we migrate it, we can delete one left here.

[2021-09-06 04:04] #540 closed

[2021-09-09 02:31] tisonkun commented on #75
closed as partially done.

* Go part published at https://pingcap.github.io/tidb-dev-guide/contribute-to-tidb/code-style-and-quality-guide.html
* Rust part published at https://pingcap.github.io/style-guide/rust/

[2021-09-09 02:31] #75 closed

[2021-09-09 06:31] Defined2014 opened #549 "The link of roadmap is not accessible."
As described in the title, PTAL.

https://github.com/pingcap/community#tidb-roadmap

[2021-09-09 06:33] tisonkun commented on #549
Yes. We don't have a roadmap any longer.

cc @TomShawn @winkyao

[2021-09-10 03:07] TomShawn commented on #549
According to the suggestion of the release team, this roadmap document has been removed from PingCAP docs. Please also remove the link in https://github.com/pingcap/community#tidb-roadmap. Thanks!

[2021-09-10 06:28] #549 closed

[2021-09-12 09:17] tisonkun commented on #507
We don't have active contributor ladder any longer. Please refer to [team governance](https://github.com/pingcap/community/blob/master/teams/README.md) page for details. I think @qiancai can guide you to participant docs team well.

Closed as invalid.

[2021-09-12 09:17] #507 closed

[2021-09-14 07:14] tisonkun opened #552 "Update Governance Graph in README.md"

[2021-09-14 10:59] tisonkun commented on #552
closed by #553

[2021-09-14 10:59] #552 closed

[2021-09-17 03:31] tisonkun commented on #122
closed as passed.

[2021-09-17 03:31] #122 closed

[2021-09-17 03:32] tisonkun commented on #309
superseded by #525

[2021-09-17 03:32] #309 closed

[2021-09-18 03:14] #86 closed

[2021-09-18 05:44] hicqu commented on #86
Closed by https://github.com/pingcap/tidb/issues/21094.

[2021-09-26 14:50] tisonkun opened #565 "Explicitly emphasize maintainers nominate new members"
https://github.com/pingcap/community/pull/564#issuecomment-927316414

[2021-09-29 03:24] #565 closed

[2021-09-30 08:19] tisonkun opened #574 "Update GOVERNANCE file according to TOC and teams architecture"

[2021-09-30 08:28] tisonkun opened #576 "Remove comment-help.md"
Most are covered by Dev Guide and others should be listed on https://prow.tidb.io/command-help which is toasted by the bot.

[2021-09-30 08:42] tisonkun opened #578 "Merge graduation-proposal into incubator directory"

[2021-10-08 02:11] #578 closed

[2021-10-08 05:28] LittleFall opened #580 "Can the vote of the nominator be counted in voting?"
need an explicit description about this.

[2021-10-12 10:54] tisonkun commented on #580
I can create a pull request to state this statement explicitly since it does cause some confusion as here.

[2021-10-12 14:15] #580 closed

[2021-10-13 08:39] Mini256 opened #584 "Check the format of membership.json file when modified"
When maintainers nominate a new team member, they need to modify the `membership.json` file.

Some format errors may occur due to artificial modification ([example](https://github.com/pingcap/community/pull/583)). For this, we can add a GitHub action to check the format:

1. JSON file format MUST be correct
2. The names of members MUST be sorted by alphabet (for better retrieval)

[2021-10-13 13:31] zhangyangyu opened #585 "Add introduction and repos to membership.md for easy program parsing"
Like https://github.com/tikv/community/tree/master/teams/pd

[2021-11-05 07:06] javeme opened #594 "Incubating Program: HugeGraph on TiKV"
## HugeGraph on TiKV

### Introduction

PingCAP Hackathon is a hackathon held by the TiDB community. In this issue, HugeGraph, a star open source product in the field of graph database, and TiDB, jointly creates a graph database based on TiKV as backend storage. The purpose of this document is to introduce the project in detail and help the team get started quickly.

### Background

HugeGraph is a

[2021-11-06 02:39] sunxiaoguang commented on #594
LGTM

[2021-11-08 08:11] #585 closed

[2021-11-09 03:55] winkyao commented on #594
LGTM

[2021-11-10 06:49] javeme commented on #594
Thanks for the review, we have already pushed the first version of code: https://github.com/tidb-incubator/hugegraph-on-tikv/pull/1

[2021-11-22 02:43] KanShiori opened #597 "REQUEST: New membership for KanShiori"
### GitHub Username
@KanShiori

### SIG you are requesting membership in
- sig-name: sig-k8s
- role: commiter

### Requirements
- [x] I have reviewed the SIG promotion process guidelines(https://docs.google.com/document/d/1OvlpU00W_LpTL09zB3gvDyQzHULz27kmNKH2O0seWCI/edit?usp=sharing)
- [x] I am actively contributing to this SIG
- [x] I have two sponsors that meet the SIG roles-and-organization-man

[2021-11-22 02:48] csuzhangxc commented on #597
+1

[2021-11-22 02:49] DanielZhangQD commented on #597
+1

[2021-11-22 02:50] KanShiori commented on #597
@Mini256 PTAL

[2021-11-22 03:56] Mini256 commented on #597
@KanShiori Congrats for you! But our nomination process has changed, you can refer to this [doc](https://github.com/pingcap/community/tree/master/teams) and read it carefully, you can delegate the maintainers to help you submit nominated voting.

cc: @pingcap/kubernetes-maintainers

For example: https://github.com/pingcap/community/pull/592

[2021-11-22 05:42] #597 closed

[2021-11-26 04:15] zhangyangyu opened #604 "Force PR issue association"
- [x] Propose for PR issue association https://github.com/pingcap/community/pull/606
- [x] Modify PR template https://github.com/pingcap/tidb/issues/30814 https://github.com/pingcap/tidb-tools/issues/567 https://github.com/pingcap/tidb-binlog/issues/1098 https://github.com/pingcap/tiflow/issues/3967 https://github.com/pingcap/ng-monitoring/issues/64
- [x] Apply PR body checker https://github.com/t

[2021-12-19 13:57] Mini256 commented on #604
We also need to modify the PR template of other repositories (pingcap/tidb-tools, pingcap/tidb-binlog, pingcap/tiflow, pingcap/ng-monitoring).

In addition, we also need to deploy @ti-chi-bot on the pingcap/ng-monitoring repo.

[2021-12-19 15:21] zhangyangyu commented on #604
Okay, I'll take the template thing.

[2021-12-25 16:27] WangXiangUSTC opened #621 "incubating program: Use tidb-lite to integrate TiDB into your Golang application"
## Motivation

### Built-in database
When developing applications using Golang, we often need to store data locally. It is a good choice to use a built-in database, so that we can use SQL to manage the data, greatly improving our development efficiency. However, there are not many built-in databases that are compatible with the MySQL protocol in Golang.

### Database-related unit tests
If our Gola

[2021-12-26 07:37] sunxiaoguang commented on #621
LGTM

[2021-12-29 09:43] winkyao commented on #621
LGTM

[2021-12-29 14:57] #604 closed

[2021-12-30 08:24] winkyao commented on #621
what's the repo name you prefer?

[2021-12-30 08:25] WangXiangUSTC commented on #621
tidb-lite

[2022-01-21 10:16] vortex0305 opened #628 "SHAREdis, a redis protocol compatible layer for TiKV"
## Project Incubating Request

### Summary
As a caching service, Redis has become the first choice for most companies with its efficient performance, rich data types, and comprehensive interfaces. However, since all data in Redis is in memory, when the amount of data is huge, the cost will be very expensive. Therefore, many companies have developed their own caching services based on open source f

[2022-01-22 00:51] zz-jason commented on #628
LGTM

[2022-01-24 07:52] raygift opened #630 "Incubating Project: TiDB over RoCE"
## Project Incubating Request
TiDB-over-RoCE

### Describe the project you want to incubate:
Currently, message transmissions inside TiDB such as raft heartbeat RPCs are based on TCP. Specifically, TiDB server and PD using grpc-go , while TiKV using  gRPC Core wrapped by gRPC-rs, both of these gRPC projects using TCP as the underlying communication protocol.

RDMA(Remote Direct Memory Access) allo

[2022-01-24 08:33] zhangyangyu commented on #621
Currently there is another trend employing container techs(which is of course still external environments) into tests. A popular framework is [testcontainer](https://www.testcontainers.org). It has already been used by [many popular projects](https://www.testcontainers.org/#who-is-using-testcontainers).

[2022-01-24 08:36] AllinChen opened #632 "TiDB SQL audit tool Tispector"
### TiDB SQL audit tool Tispector

#### Summary

As TiDB's SQL auditing tool, Tispector uses TiDB Parser to construct syntax trees for SQL statements. Rules in Tispector trigger corresponding rules by grabbing feature points in the syntax tree. Tispector implements user-defined rules by modifying the variable thresholds of some rules and persists different rule templates through the database. It s

[2022-01-24 09:04] zhangyangyu commented on #416
Close as stale.

[2022-01-24 09:04] #416 closed

[2022-01-25 12:34] WangXiangUSTC commented on #621
It seems that it works for Java applications.

[2022-02-07 07:24] winkyao commented on #630
LGTM

[2022-02-07 07:25] winkyao commented on #632
LGTM

[2022-02-07 07:26] winkyao commented on #628
LGTM

[2022-02-07 07:31] winkyao commented on #628
Repo:https://github.com/tidb-incubator/SHAREdis have created, please accept the pending invitation.

[2022-02-07 07:32] vortex0305 commented on #628
There is one problem left: the name SHAREdis we used has a company identify, we dnk is this a good choice ? And any other names to recommend？Or that it's even not a problem.

[2022-02-07 07:34] winkyao commented on #628
You can change the name by yourself, that's ok, you have admin privilege.

[2022-02-07 07:38] vortex0305 commented on #628
ok thx

[2022-02-22 10:58] niubell commented on #630
LGTM

[2022-02-25 13:01] sunxiaoguang commented on #630
LGTM

[2022-02-25 13:17] sunxiaoguang commented on #632
LGTM

[2022-02-28 03:14] sunxiaoguang commented on #630
The project is very likely to be tightly coupled with gRPC implementation for both Rust and Golang. Therefore you may have to spend lots of efforts to make significant improvements to convenience people to accept such changes. Another thing I personally would like to see in this project is RDMA in virtualized environment. Good luck:)

[2022-02-28 03:20] winkyao commented on #632
Repo: https://github.com/tidb-incubator/tispector have been created, already invited you to be the admin of this project. Please accept the invitation https://github.com/tidb-incubator/tispector/invitations

[2022-02-28 03:26] winkyao commented on #630
@raygift https://github.com/tidb-incubator/TiDBOverRoCE have been created, already invited you to be the admin of this project. Please accept the invitation https://github.com/tidb-incubator/TiDBOverRoCE/invitations

[2022-05-02 14:33] tisonkun commented on #524
Closed as no response.

[2022-05-02 14:33] #524 closed

[2022-05-02 14:34] tisonkun commented on #543
Closed as won't do.

[2022-05-02 14:34] #543 closed

[2022-05-02 14:34] tisonkun commented on #525
Closed as finished.

[2022-05-02 14:34] #525 closed

[2022-06-10 16:06] tisonkun opened #670 "@morgo is still one of TiDB committer, but removed from the org?"
@morgo is this your request? Would you like to stay in TiDB committer group?

[2022-06-10 17:27] morgo commented on #670
Yes please - I will still be working on tidb in my new position. Thanks!

[2022-06-10 17:31] tisonkun commented on #670
@zhangyangyu could you help on this issue? Perhaps it's a mistake to remove active committers.

[2022-06-11 06:57] zhangyangyu commented on #670
It's definitely not right. You should not be removed from the tidb-committers team. I've resent an invitation to you @morgo . Sorry for it.

[2022-06-12 09:26] tisonkun commented on #670
Closed as invited and joined. However, IIRC @morgo is previously a member of @pingcap/tidb-configuration-reviewer. I'm unsure whether this role should be retained. cc @bb7133

[2022-06-12 09:26] #670 closed

[2022-07-27 05:17] arielyang opened #704 "CLA link is broken"
https://github.com/pingcap/community/blob/master/contributors/README.md#sign-the-cla

[2022-07-27 06:58] #704 closed

[2022-07-27 06:59] zhangyangyu commented on #704
Thanks for reporting, update it. FYI, different repos might have different CLA link, better check the bot comment in each repo.

[2022-09-08 02:14] yongman opened #707 "Incubating Project: Redis on TiKV -- Tidis"
## Project Incubating Request

### Redis on TiKV (Tidis)

#### Summary

Tidis is the service layer for TiKV, aims to provide multiple model distributed storage service.

Tidis has been completely refactored and rewritten in Rust for better performance and lower latency, and added more features support, such as Lua scripts, TLS connections, meta key split and more.

#### Motivation

The first editi

[2022-09-08 02:38] sunxiaoguang commented on #707
LGTM

[2022-09-08 03:13] baiyuqing commented on #707
LGTM

[2022-09-08 03:14] winkyao commented on #707
LGTM